<form (ngSubmit)="onSubmit()" [formGroup]="userForm">
  <div class="mb-3">
    <label class="form-label" for="name">{{formLabels.name}}<span class="text-danger">*</span></label>
    <input class="form-control" type="text" id="name" formControlName="name" placeholder="{{formPlaceholders.name}}"
      [ngClass]="{'is-valid': name.valid,
                'is-invalid': name.invalid && name.touched}" (blur)="onValueChanged()">
    <div *ngIf="name.valid" class="valid-feedback">{{formSuccess.name}}</div>
    <div *ngIf="name.invalid && name.touched" class="invalid-feedback">{{formErrors.name}}</div>
  </div>

  <div class="mb-3">
    <label class="form-label" for="password">{{formLabels.password}}<span class="text-danger">*</span></label>
    <input class="form-control" type="password" id="password" formControlName="password"
      placeholder="{{formPlaceholders.password}}" [ngClass]="{'is-valid': password.valid,
                'is-invalid': password.invalid && password.touched}" (blur)="onValueChanged()">
    <div *ngIf="password.valid" class="valid-feedback">{{formSuccess.password}}</div>
    <div *ngIf="password.invalid && password.touched" class="invalid-feedback">{{formErrors.password}}</div>
  </div>

  <div class="mb-3">
    <label class="form-label" for="email">{{formLabels.email}}<span class="text-danger">*</span></label>
    <input class="form-control" type="email" id="email" formControlName="email" placeholder="{{formPlaceholders.email}}"
      [ngClass]="{'is-valid': email.valid,
                'is-invalid': email.invalid && email.touched}" (blur)="onValueChanged()">
    <div *ngIf="email.valid" class="valid-feedback">{{formSuccess.email}}</div>
    <div *ngIf="email.invalid && email.touched" class="invalid-feedback">{{formErrors.email}}</div>
  </div>

  <div class="mb-3">
    <label class="form-label" for="age">{{formLabels.age}}<span class="text-danger">*</span></label>
    <input class="form-control" type="text" id="age" formControlName="age" placeholder="{{formPlaceholders.age}}"
      [ngClass]="{'is-valid': age.valid,
                'is-invalid': age.invalid && age.touched}" (blur)="onValueChanged()">
    <div *ngIf="age.valid" class="valid-feedback">{{formSuccess.age}}</div>
    <div *ngIf="age.invalid && age.touched" class="invalid-feedback">{{formErrors.age}}</div>
  </div>

  <div class="mb-3">
    <label class="form-label" for="role">{{formLabels.role}}<span class="text-danger">*</span></label>
    <select class="form-select" id="role" formControlName="role" [ngClass]="{'is-valid': role.valid,
                'is-invalid': role.invalid && role.touched}" (blur)="onValueChanged()">
      <option disabled selected [value]="null">{{formPlaceholders.role}}</option>
      <option *ngFor="let role of roles" [value]="role">{{role}}</option>
    </select>
    <div *ngIf="role.valid" class="valid-feedback">{{formSuccess.role}}</div>
    <div *ngIf="role.invalid && role.touched" class="invalid-feedback">{{formErrors.role}}</div>
  </div>


  <div class="mb-3">
    <button class="btn btn-info" [disabled]="userForm.invalid" type="submit">Сохранить</button>
  </div>

</form>