<form (ngSubmit)="onSubmit()" [formGroup]="userForm">
  <div class="mb-3">
    <label class="form-label" for="name">Имя:</label>
    <input class="form-control" type="text" id="name" formControlName="name">
    <div class="alert alert-danger"
    *ngIf="userForm.get('name')?.hasError('required')
    && (userForm.get('name')?.touched || userForm.get('name')?.dirty)">
      Обязательное поле.
    </div>
  </div>

  <div class="mb-3">
    <label class="form-label" for="password">Пароль:</label>
    <input class="form-control" type="text" id="password" formControlName="password">
    <div class="alert alert-danger"
    *ngIf="userForm.get('password')?.hasError('required')
    && (userForm.get('password')?.touched || userForm.get('password')?.dirty)">
      Обязательное поле.
    </div>
    <div class="alert alert-danger"
    *ngIf="userForm.get('password')?.hasError('minlength')
    && (userForm.get('password')?.touched || userForm.get('password')?.dirty)">
      Требуется минимум 7 символов.
    </div>
  </div>

  <div class="mb-3">
    <button class="btn btn-info" [disabled]="userForm.invalid" type="submit">Сохранить</button>
  </div>

</form>




<!-- <form #userForm="ngForm" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label class="form-label" for="name">Имя:</label>
    <input #name="ngModel" [(ngModel)]="model.name" class="form-control" type="text" id="name"
      name="name" maxlength="15" minlength="4" required>
    <div *ngIf="formErrors.name" class="alert alert-danger">{{formErrors.name}}</div>
  </div>

  <div class="mb-3">
    <label class="form-label" for="age">Возраст:</label>
    <input #age="ngModel" [(ngModel)]="model.age" class="form-control" type="number" id="age" name="age" required>
    <div *ngIf="formErrors.age" class="alert alert-danger">{{formErrors.age}}</div>
  </div>

  <div class="mb-3">
    <label class="form-label" for="role">Роль:</label>
    <select [(ngModel)]="model.role" class="form-select" id="role" name="role" required>
      <option disabled selected [value]="">Выберите роль</option>
      <option *ngFor="let role of roles" [value]="role">{{role}}</option>
    </select>
  </div>

  <div class="mb-3">
    <button class="btn btn-info" [disabled]="userForm.form.invalid">Сохранить</button>
  </div>

</form>

<p>{{model | json}}</p> -->